.contenido-usuario {
  border: 1px solid var(--secundario);
  padding: 1rem;
  border-radius: 2rem;
  color: var(--secundario);
  display: flex;
  flex-direction: column;
  width: 100%;
}

.info-principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0.8rem;
  border-bottom: 1px solid var(--secundario);
}

.info-principal .icono-usuario {
  height: 12rem;
  width: 15rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.info-principal .descripcion-estado {
  display: flex;
  gap: 0.5rem;
}

.info-principal .descripcion-estado p {
  font-size: 1.3rem;
}

.info-principal .name {
  font-size: 3.5rem;
}

.info-principal .descripcion-estado .edad {
  padding: 0 0.5rem;
  border-left: 1px solid var(--secundario);
  border-right: 1px solid var(--secundario);
}

.info-membresia {
  display: flex;
  flex-direction: column;
  padding-top: 0.8rem;
}

.info-membresia .fecha-mem {
  display: flex;
  font-size: 1.5rem;
  text-align: center;
  justify-content: center;
  padding-top: 1rem;
}

.info-membresia .bg-mem {
  text-align: center;
  background-color: var(--secundario);
  color: var(--bg);
  padding: 1.5rem 0;
  border-radius: 2rem;
}

.info-membresia .bg-mem .info-exp {
  color: var(--gris);
  font-size: 1.3rem;
}

.info-membresia .fecha-mem .gray {
  color: var(--gris);
}

.info-membresia .fecha-mem .adquirido {
  width: 50%;
  border-right: 1px solid var(--secundario);
}

.info-membresia .fecha-mem .activado {
  width: 50%;
}

@media (min-width: 768px) {
  .contenido-usuario {
    flex-direction: row;
  }

  .info-principal {
    width: 40%;
  }

  .contenido-usuario .info-principal {
    border: none;
    padding: 0;
    border-right: 1px solid var(--secundario);
    padding-right: 1.2rem;
  }

  .caracteristicas {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .caracteristicas .descripcion-estado p {
    font-size: 1.3rem;
  }

  .info-membresia {
    padding: 0;
    padding-left: 1.2rem;
    width: 60%;
    justify-content: center;
  }

  .info-membresia .bg-mem {
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .contenido-usuario {
    flex-direction: row;
    width: 90rem;
  }

  .info-principal {
    width: 35%;
  }

  .contenido-usuario .info-principal {
    border: none;
    padding: 0;
    border-right: 1px solid var(--secundario);
    padding-right: 1.2rem;
    flex-direction: row;
  }

  .caracteristicas {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .caracteristicas .descripcion-estado p {
    font-size: 1.3rem;
  }

  .info-membresia {
    padding: 0;
    padding-left: 1.2rem;
    width: 65%;
    justify-content: center;
  }

  .info-membresia .bg-mem {
    width: 100%;
  }
}
