.trainer-profile {
  font-family: Arial, sans-serif;
  color: white;
  background-color: #1a1a1a;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.trainer-info {
  margin-left: 20px;
}

.trainer-info h1 {
  margin: 0;
  font-size: 24px;
}

.trainer-info p {
  margin: 5px 0;
  color: #ffffff;
}

.rating span {
  color: #ffd900;
  font-size: 20px;
}

.schedule {
  margin: 20px 0;
}

.rate-button {
  background-color: #D30046;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.rating-stars {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
}

.rating-stars span {
  color: #D30046;
  font-size: 24px;
}

.reviews {
  background-color: #333;
  padding: 10px;
  border-radius: 10px;
}

.reviews h2 {
  margin-top: 0;
}

.reviews textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin: 10px 0;
}

.review {
  background-color: #444;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
}

.review p {
  margin: 0;
}

.reviews button {
  background-color: #D30046;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
