.class-info {
  font-family: Arial, sans-serif;
  color: white;
  background-color: #1a1a1a;
  padding: 20px;
  border-radius: 10px;
  max-width: 400px;
  margin: auto;
  text-align: center;
}

.class-info h1 {
  font-size: 20px;
  margin-bottom: 20px;
}

.class-description {
  background-color: white;
  color: black;
  padding: 20px;
  border-radius: 10px;
  text-align: left;
  margin-bottom: 20px;
}

.class-description h2 {
  color: #ff69b4;
}

.class-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.coach-info {
  text-align: left;
}

.coach-pic {
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.schedule-info {
  text-align: left;
}

.schedule-info p,
.schedule-info ul {
  margin: 5px 0;
}

.schedule-info ul {
  list-style-type: none;
  padding: 0;
}

.subscribe-button {
  background-color: #ff69b4;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}
